<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <link rel="stylesheet" href="/styles.css">
    <!-- Polyfill(s) for older browsers -->
    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/systemjs.config.js"></script>
    <link href="~/MainStyle.css" rel="stylesheet" />
    <script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <img class="logo" src="./Assets/collection.jpg" />
        <div class="container">

            @Html.ActionLink("MunchBrunch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="mainFooter">
            <p>&copy; @DateTime.Now.Year - Srilekha</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

